# Q1

In [1]:
국어 = 80
영어 = 75
수학 = 55
평균 = (국어 + 영어 + 수학) / 3
print(평균)

70.0

# Q2

2로 나누었을 때 나머지가 0이면 짝수, 1이면 홀수이다.

# Q3

In [3]:
id = "881120-1068234"
h = id[:6]
t = id[7:]
print(h)
print(t)

881120
1068234

# Q4

In [4]:
pin = "881120-1068234"
a=pin[7]
print(a)

1

# Q5

In [6]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

# Q6

In [10]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# Q7

In [14]:
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
print(b)

Life is too short

# Q8

In [23]:
a = (1, 2, 3)
b = a + (4,)
print(b)

(1, 2, 3)

# Q9

3. 리스트형은 키로 쓸 수 없음.

# Q10

In [25]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

# Q11

In [28]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = list(set(a))
print(b)

[1, 2, 3, 4, 5]

# Q12

In [29]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

[1,4,3]이 출력된다. 두 변수 모두 같은 리스트 객체를 가리키고 있기 때문이다.